{% extends "base-fluid.html" %}

{% block title %}SMARTies{% endblock title %}

{% block content %}
    <div class="row">
      <div class="col">
        <script>
          $( function() {
            var availableTags = [
              {% for t in topic %}
                {% if loop.last %}
                  "{{t.name}}"
                {% else %}
                  "{{t.name}}",
                {% endif %}
              {% endfor %}
            ];
            $( "#topic" ).autocomplete({
              source: availableTags
            });
          } );
        </script>
        <form action="{{url_for('admin.add_questions')}}" method ='post' id="itemform" enctype="multipart/form-data">
          <div class="form-group ui-widget">
            <label for="topic">Thema</label>
            <input class="form-control" id="topic" name="topic" form="itemform">
          </div>
          <div class="form-group">
            <label for="file">CSV-File</label>
            <input class="form-control" type="file" id="file" name="file" form="itemform" accept=".csv">
          </div>
          <input type="submit" name="add" value="Hinzuf&uuml;gen" class="btn btn-secondary btn-lg btn-block">
        </form>
      </div>
    </div>
{% endblock content %}
