{% extends "base-fluid.html" %}

{% block title %}SMARTies{% endblock title %}

{% block content %}
    <div class="row text-left">
      <div class="col">
        <div class="dropdown show">
          <a class="btn btn-secondary dropdown-toggle mb-3 btn-lg btn-block" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Nach Thema filtern
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{{url_for('admin.questions')}}">Alle anzeigen</a>
            <div class="dropdown-divider"></div>
            {% for t in topics %}
            <a class="dropdown-item" href="{{url_for('admin.topic_questions', topic_name=t.name)}}">{{t.name}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <table class="table table-bordered" style="max-width: 100%">
        <tr>
          <th style="width: 20%">Thema</th>
          <th style="width: 30%">Frage</th>
          <th style="width: 40%">Antwort</th>
          <th style="width: 5%"><i class="fas fa-edit"></i></th>
          <th style="width: 5%"><i class="fas fa-trash-alt"></i></th>
        </tr>
        {% for q in question %}
        <tr>
          <td>{{q.topic.name}}</td>
          <td>{{q.question|safe}}</td>
          <td><div class="answerblock">{{q.answer|safe}}</div></td>
          <td>
            <a class="btn btn-secondary btn-lg btn-block" href="{{url_for('admin.edit_question', question_id=q.id)}}">
              <i class="fas fa-edit"></i>
            </a>
          </td>
          <td>
            <a class="btn btn-danger btn-lg btn-block" href="{{url_for('admin.delete_question', question_id=q.id)}}">
              <i class="fas fa-trash-alt"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
{% endblock content %}
