{% extends "base.html" %}

{% block title %}SMARTies - Impressum{% endblock title %}

{% block content %}
  <div class="row m-3 text-center">
    <div class="col text-justify">
      <h1>Datenschutzerklärung</h1>
      <p>Der Schutz Ihrer persönlichen Daten ist uns ein besonderes Anliegen. Wir verarbeiten Ihre Daten daher ausschließlich auf Grundlage der gesetzlichen Bestimmungen (DSGVO, TKG 2003). In diesen Datenschutzinformationen informieren wir Sie über die wichtigsten Aspekte der Datenverarbeitung im Rahmen unserer Website.</p>

      <h3>Kontakt mit uns</h3>
      <p>Wenn Sie per Formular auf der Website oder per E-Mail Kontakt mit uns aufnehmen, werden Ihre angegebenen Daten zwecks Bearbeitung der Anfrage und für den Fall von Anschlussfragen sechs Monate bei uns gespeichert. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.</p>

      <h3>Cookies</h3>
      <p>Unsere Website verwendet so genannte Cookies. Dabei handelt es sich um kleine Textdateien, die mit Hilfe des Browsers auf Ihrem Endgerät abgelegt werden. Sie richten keinen Schaden an. </p>
      <p>Wir nutzen Cookies dazu, unser Angebot nutzerfreundlich zu gestalten. Einige Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese löschen. Sie ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen.
      Wenn Sie dies nicht wünschen, so können Sie Ihren Browser so einrichten, dass er Sie über das Setzen von Cookies informiert und Sie dies nur im Einzelfall erlauben. </p>
      <p>Bei der Deaktivierung von Cookies kann die Funktionalität unserer Website eingeschränkt sein.</p>

      <h3>„Google+“-Social-Plug-in</h4>
      <p>In unserem Internetauftritt setzen wir das Plug-in des Social-Networks Google+ („Google Plus“) ein. Bei Google+ handelt es sich um einen Internetservice der Google LLC., 1600 Amphitheatre Parkway, Mountain View, CA 94043 USA, nachfolgend nur „Google“ genannt.</p>
      <p>Durch die Zertifizierung nach dem EU-US-Datenschutzschild („EU-US Privacy Shield“) <a class="text-secondary" href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&amp;status=Active">https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&amp;status=Active</a> garantiert Google, dass die Datenschutzvorgaben der EU auch bei der Verarbeitung von Daten in den USA eingehalten werden.</p>
      <p>Rechtsgrundlage ist Art. 6 Abs. 1 lit. f) DSGVO. Unser berechtigtes Interesse liegt in der Qualitätsverbesserung unseres Internetauftritts.</p>
      <p>Weitergehende Informationen über die möglichen Plug-ins sowie über deren jeweilige Funktionen hält Google unter <a class="text-secondary" href="https://developers.google.com/+/web/">https://developers.google.com/+/web/</a>&nbsp; für Sie bereit.</p>
      <p>Sofern das Plug-in auf einer der von Ihnen besuchten Seiten unseres Internetauftritts hinterlegt ist, lädt Ihr Internet-Browser eine Darstellung des Plug-ins von den Servern von Google in den USA herunter. Aus technischen Gründen ist es dabei notwendig, dass Google Ihre IP-Adresse verarbeitet. Daneben werden aber auch Datum und Uhrzeit des Besuchs unserer Internetseiten erfasst.</p>
      <p>Sollten Sie bei Google eingeloggt sein, während Sie eine unserer mit dem Plug-in versehenen Internetseite besuchen, werden die durch das Plug-in gesammelten Informationen Ihres konkreten Besuchs von Google erkannt. Die so gesammelten Informationen weist Google womöglich Ihrem dortigen persönlichen Nutzerkonto zu. Sofern Sie also bspw. den sog. „Teilen“-Button von Google benutzen, werden diese Informationen in Ihrem Google-Nutzerkonto gespeichert und ggf. über die Plattform von Google veröffentlicht. Wenn Sie das verhindern möchten, müssen Sie sich entweder vor dem Besuch unseres Internetauftritts bei Google ausloggen oder die entsprechenden Einstellungen in Ihrem Google-Benutzerkonto vornehmen.</p>
      <p>Weitergehende Informationen über die Erhebung und Nutzung von Daten sowie Ihre diesbezüglichen Rechte und Schutzmöglichkeiten hält Google in den unter <a class="text-secondary" href="https://policies.google.com/privacy">https://policies.google.com/privacy</a> abrufbaren Datenschutzhinweisen bereit.</p>

      <h3>Ihre Rechte</h3>
      <p>Ihnen stehen grundsätzlich die Rechte auf Auskunft, Berichtigung, Löschung, Einschränkung, Datenübertragbarkeit, Widerruf und Widerspruch zu. Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich bei der Aufsichtsbehörde beschweren. In Österreich ist dies die Datenschutzbehörde.</p>

      <h3>Sie erreichen uns unter folgenden Kontaktdaten: </h3>
      <p>Pauline Trung<br>
      Bognerstraße 3<br>
      5020 Salzburg<br></p>

      <a class="text-secondary" href="mailto:trungpa@stud.sbg.ac.at">trungpa@stud.sbg.ac.at</a>

    </div>
  </div>
{% endblock content %}
